.modal {
	$close-button-size: 35px;

	&__overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.25);
		z-index: 999;
		overflow-y: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__contents {
		background-color: wheat;
		max-width: 98%;
		padding: 17px 20px 20px;
		position: relative;
		min-width: 350px;
		min-height: 450px;

		> * {
			outline: 1px dotted;
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		font-size: $close-button-size + 5;
		color: #cc9a9a;
		transition: color 0.2s ease-out;
		outline: 1px solid;
		width: $close-button-size;
		height: $close-button-size;
		line-height: $close-button-size;
		text-align: center;
		cursor: pointer;
		z-index: 5;

		&:hover {
			color: #af5b5e;
		}
	}
}

.description {
	line-height: normal;

	&__display {
		min-width: 400px;

		&--editor {
			/* outline: 2px dotted; */
		}

		&__preview {
			/* outline: 2px dotted; */
		}
	}

	&__editor, &__preview {
		min-width: 450px;
		min-height: 150px;
	}

	&__preview {
		padding: 6px 6px 3px;
		border-radius: 5px;
		box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.29);
		background-color: #e3e4e4;
		border: 1px solid darkgrey;

		> p {
			margin: 0;
		}
	}

	&__editor {
		display: block;
		font-size: 1em;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

		/* overflow: hidden; */
		word-wrap: break-word;
		resize: none;
		max-height: 300px;
		padding: 6px 6px 3px;
		border-radius: 5px;
		box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.29);
		background-color: #f0f8ff;
	}

	&__controls {
		border: 1px solid gray;
		border-radius: 5px;
		margin: 5px 5px 5px 0;
		padding: 5px;
		min-width: 57px;
		box-shadow: 0 0 6px rgba(128, 128, 128, 0.41);
		transition: box-shadow .2s;
		color: white;
		cursor: pointer;

		&:hover {
			background-color: lightblue;
		}

		&:active {
			box-shadow: none;
		}

		&--save {
			$background-color: #58bf58;

			background-color: $background-color;

			&:hover {
				background-color: lighten($background-color, 7%);
			}
		}

		&--cancel {
			$background-color: #b9a8a8;

			background-color: $background-color;

			&:hover {
				background-color: lighten($background-color, 7%);
			}
		}
	}
}
