.todoapp h3 {
	position: absolute;
	top: -2.3em;
	width: 100%;
	font-size: 2em;
	font-weight: 100;
	text-align: center;
	color: #5e3838;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 2px 3px grey;
	padding-bottom: 7px;
	box-shadow: 0 15px 9px -8px rgba(210, 199, 194, 0.55), 0 2px 2px rgba(156, 156, 156, 0.56);

	&:empty::after {
		content: attr(data-placeholder);
		color: rgba(93, 99, 105, 0.44);
		text-shadow: none;
	}
}
